# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_test_51MKflbE5dAr2BYachC9mdlclv0BJKE7FYyRHpagOwZWpEamwFMDVzq1yytbxT4fNLE7FUTEGGirsdPDwboLxztYV00d8HaNdGx
STRIPE_SECRET_KEY=rk_test_51MKflbE5dAr2BYacTH1Eezrr0HyjveyHJ9Ek9r5zPxULHDzYE7P1Mv0ceRPBl2r171TQ9JhKajhJRpjuX6PdCeqJ00w8MZzfiC

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_123...

# Stripe subscription data
DOMAIN=http://localhost:4242
BASIC_PRICE_ID=price_1MZUe0E5dAr2BYacYqfCydVV
PRO_PRICE_ID=price_1MZUfvE5dAr2BYacT6A01L5a
TEAM_PRICE_ID=price_1MZUheE5dAr2BYac7qYAJDoV

# Environment
STATIC_DIR=../../client
